*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 10px;
}

ul{
  display: flex;
  list-style: none;

}

li{
  margin: 0 2rem;
}